<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l6 center">
        <h2>contact</h2>
        <p>
          mail: info@lifeofdice.be
        </p>
        <p>
          tel:03/333.333
        </p>
      </div>
      <div class="col s12 m6 l6 center">
        <h2>logo</h2>
        <img src="" alt="logo life of dice">
      </div>
    </div>
    <div class="footer-copyright">
      <div class="centreren">&COPY 2018 Copyright: <span class="vet">Life of Dice</span></div>
    </div>
  </div>
</footer>
