<h1>Listing characters from <%= current_user.email %></h1> <!-- TODO: replace by first & last name -->

<table>
  <tr>
    <th>Name</th>
    <th>LvL</th>
    <th>class</th>
  </tr>

  <%= render partial: 'character_li', collection: @characters, as: :character %>
</table>