<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Lvl / class:</strong>
  <br>
  <% class_lvl_strings(@character).each do |lvl_String| %>
    <p> <%= lvl_String %>
  <% end %>
</p>

<%= link_to 'Back', characters_path %>